*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Nav style */
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 80px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    transition: 0.5s;
}
/* Animation */
nav ul li a:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

/* Body style */
.content{
    text-align: center;
}
.content h1{
    font-size: 400%;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
/* Animation */
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.content p{
    font-size: 160%;
    color: #fff;
    font-weight: 300;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    transition: 0.5s;
}
.content a:hover{
    -webkit-text-stroke: #fff;
    color: aqua;
}

/* Style for video */
.backVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* Adaptation code */
@media (min-aspect-ratio: 16/9) {
    .backVideo{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .backVideo{
        width: auto;
        height: 100%;
    }
}